.error-message {
  color: #ff0000; /* Червоний колір для повідомлень про помилку */
}
.fa {
  margin-right: 5px; /* Відступ між іконкою і текстом */
}
.error-input {
  border: 2px solid #ff0000; /* Червона рамка для полів з помилкою */
}
